.app {
  text-align: center;
  display: block;
  margin: 16px auto;
}

input {
  border: 1px solid #2C3259;
  padding: 4px ;
}

.button {
  background-color: #454F8C;
  border: 0px solid transparent;
  color: white;
  cursor: pointer;
  padding: 4px 16px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #6A79D9;
}

.button:disabled {
  background-color: #474959;
  pointer-events: none;
}