#root {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  max-width: 750px;
  margin: 0 auto;
}

img {
  box-shadow: 0 1px 1px rgba(0,0,0, 0.15),
      0 2px 2px rgba(0,0,0, 0.15),
      0 4px 4px rgba(0,0,0, 0.15),
      0 8px 8px rgba(0,0,0, 0.15),
      0 16px 16px rgba(0,0,0, 0.15);
  object-fit: cover;
  display: block;
  margin-bottom: 20px;
  height: 250px;
  width: 100%;
}